/* ------------------------------------------ */
/* Style                                      */
/* ------------------------------------------ */

/* Core                               */
/* ---------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Quattrocento|Roboto:700,900&display=swap");
@import "reset.css";
@import "base.css";

/* Components                         */
/* ---------------------------------- */

/* The hero div*/
.hero {

  }
  
  /* Place text in the middle of the image */
  .hero-text {

  }

#images{
    text-align:center;
    margin:50px auto; 
}
#images a{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
 }